@import 'swiper/scss';
@import 'swiper/scss/navigation';
@import 'swiper/scss/pagination';
@import '../main-page/section-brands/brands-slide';
@import '../main-page/section-devices/devices-slide';
@import '../main-page/section-price/price-slide';
@import 'button-swiper';

@media (min-width: 320px) and (max-width: 600px) {
    .swiper {
        padding: 5.000vw;
        padding-bottom: 0;
        width: 100%;

        .swiper-pagination {
            position: relative;
            padding-bottom: 0;
            padding-top: 24px;
        } 
       
       .swiper-pagination-bullet {
           height: 12px;
           width: 12px;
           background: #B5B6BC;
        }
   }
}
    
@media (min-width: 601px) and (max-width: 1119px) {

    .swiper {

        .swiper-wrapper {
            display: flex;
            flex-wrap: wrap;
            padding: 24px 3.13vw;
            row-gap: 16px;
        }

        .swiper-pagination {
            display: none;
        } 
   }

   .swiper--price {
    display: none;
   }
}

@media (min-width: 1120px) and (max-width: 1920px) {

    .swiper {
        padding: 24px 32px;
        padding-right: 0;

        .swiper-wrapper {
            display: flex;
            flex-wrap: wrap;
            row-gap: 16px;
        }

        .swiper-wrapper--devices {
            justify-content: space-between;
        }
   }
   .swiper--devices {

        padding-right: 3.13vw;
        padding-left: 3.13vw;

        .swiper-wrapper--devices {
        justify-content: space-between;

        }
    }

    .swiper--price {
        display: none;
    }
}