@import './mobile-header';
@import './nav-mobile';
@import './contact-info';


@media (min-width: 320px) and (max-width: 767px) {

  .mobile-menu {
    position: fixed;
    left: -1000%;
    width: 100%;
    min-width: 320px;
    max-width: 360px;
    height: 100%;
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    z-index: 2;
    box-shadow: 20px 0px 31px 0px rgba(13, 13, 13, 0.11),
                300px 0px 0px 800px rgba(255, 255, 255, 0.9);
  }

  .move {
    left: 0px;
  }

}

@media (min-width: 768px) and (max-width: 1119px) {

  .mobile-menu {
    position: fixed;
    left: -1000%;
    width: 320px;
    height: 100%;
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    z-index: 2;
    box-shadow: 20px 0px 31px 0px rgba(13, 13, 13, 0.11),
                300px 0px 0px 800px rgba(255, 255, 255, 0.9);
  }

  .move {
    left: 0px;
  }

}

@media (min-width: 1120px) and (max-width: 1920px) {

  .mobile-menu {
    position: fixed;
    width: 320px;
    height: 100%;
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
  }
}